
@import '../abstracts/variables';
@import '../mixins/common_mix';
@import '../mixins/responsive';
@import '../layouts/container';




#banner{
    border: $border;
    margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        height: auto;

        @include custom_responsive(0px, 767.9px){
            gap: 30px;
        }
    .branding_text{
        border: $border;
        @include w-sans($green,40px,700,normal,-1.6px);
        width: 654px;
        
        @include md(){
            font-size: 30px;

        }
        @include sm(){
            font-size: 25px;
            font-weight: 400;
            width: auto;
        }
        @include custom_responsive(0px,575.9px){
            font-size: 20px;
            font-weight: 400;
            width: auto;
        }

        
    }

    .text-overlay{

        @include custom_responsive(0px, 767.9px){
            left: 10px;
        }
        h2{
            @include md(){
                font-size: 40px;
    
            }
            @include sm(){
                font-size: 30px;
                line-height: 40px;
                font-weight: 400;
                margin-bottom: 0px;

                
            }
            @include custom_responsive(0px,575.9px){
                font-size: 25px;
                line-height: 34px;
                font-weight: 400;
                margin-bottom: 0px;
                
            }
        }
        p{
            @include md(){
                font-size: 20px;
    
            }
            @include sm(){
                font-size: 18px;
                line-height: 30px;
                font-weight: 400;
                margin-bottom: 0px;

                
            }
            @include custom_responsive(0px,575.9px){
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                margin-bottom: 0px;
                
            }

        }
        button{

            @include custom_responsive(0px, 767.9px){
                width: 120px;
                height: 38px;
                padding: 14px 12px;        
                font-size: 14px;
                font-weight: 400;      
                line-height: 5px;                
            }
        }
    }
}